{% extends 'app/base.html' %}
{% load static from staticfiles %}

{% block title %} | Your Album Collection{% endblock title %}

{% block js_includes %}
<script>
    $(function(){
        $(".favorite").click(function(){

            var t = $(this);
            t.blur();
            t.hasClass('btn-primary');

            var favorited = t.hasClass('btn-success');
            var data = {
                'csrfmiddlewaretoken' : "{{ csrf_token }}",
                'key': t.data('key'),
                'favorited': favorited,
            }

            $.ajax({
                type: 'POST',
                url: '{% url "favorite_item" %}',
                data: data,
                dataType: 'json',
                success: function(resp) {
                    if (resp.msg == 'added') {
                        t.removeClass('btn-primary').addClass('btn-success');
                        t.html("Favorited");
                    }
                    else {
                        t.removeClass('btn-success').addClass('btn-primary');
                        t.html("&plus; Favorite");
                    }
                },
            });
        });
    });
</script>
{% endblock js_includes %}


{% block content %}
<div class="modal fade" id="add-album">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Album</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<h1 style="display:inline;">Your Album Collection</h1>
<button class="btn btn-primary" style="float:right;" data-toggle="modal" data-target="#add-album">&plus; Add Album</button>
<hr>
{% for album in albums %}
  <div class="item">
    <h4 style="display:inline;"><a href="{% url 'album_page' album.key %}">{{ album.title }}</a></h4>
    {% if album.favorited %}
        <button type="button" class="btn btn-success btn-sm favorite" style="float:right;" data-key="{{ album.key }}">Favorited</button>
    {% else %}
        <button type="button" class="btn btn-primary btn-sm favorite" style="float:right;" data-key="{{ album.key }}">&plus; Favorite</button>
    {% endif %}
  </div>
{% endfor %}
{% endblock content %}