{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Hire a certified home inspector you can trust{% endblock title %}

{% block js_includes %}
{% endblock js_includes %}


{% block content %}
<div class="inner cover">
    <h1 class="cover-heading">Your online record collection.</h1>
    <p class="lead">Recordly let's you save, organize, and view your favorite records, songs, and albums.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-primary">Log In</a>
    </p>
</div>
{% endblock content %}