{% extends 'app/base.html' %}
{% load static from staticfiles %}

{% block title %} | Log In{% endblock title %}

{% block js_includes %}
{% endblock js_includes %}


{% block content %}
<form class="form-signin" url="{% url 'signup' %}" method="POST">{% csrf_token %}
    <h2 class="form-signin-heading">Sign Up</h2>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <label class="sr-only">First Name</label>
    <input type="text" name="first_name" class="form-control" placeholder="First Name" required autofocus>

    <label class="sr-only">Last Name</label>
    <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>

    <label class="sr-only">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username" required>

    <label class="sr-only">Email address</label>
    <input type="email" name="email" class="form-control" placeholder="Email address" required>

    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>
<p style="text-align:center;">Already have an account? <a href="{% url 'login' %}">Log in here</a></p>
{% endblock content %}